body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  height: 100vh;
}

#container {
  display: flex;
  height: 100%;
}

#leftCol {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  width: 450px;
  padding: 20px;
  overflow-y: auto;
}

#carColumn {
  display: flex;
  flex-direction: column;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 10px;
  width: 32px;
  margin-left: 20px;
}

#rightCol {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  overflow-y: auto;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background: blue;
}

#networkCanvas {
  background: black;
  margin-left: 20px;
}

#carCanvas {
  background: lightgray;
}

#carCanvas, #networkCanvas {
  height: 100%;
}